<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('headers.ejs') %>
        <title>Main</title>
</head>

<body>
    <div class="main">
        <h1 style="color: black">Cuestionario de Ética profesional</h1>
        <h1><a href="/formulario" style="background-color: #1A73CE;">Formulario</a></h1>
        <h1><a href="/showData" style="background-color: #ff4d4d;">Data</a></h1>
    </div>
</body>

</html>